<a href="https://colab.research.google.com/github/ykkim77/2nd-week/blob/master/python_2nd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1>Warming-up<h1>

참고: 초보자를 위한 파이썬 300제 <br> https://wikidocs.net/book/922

# 변수 문자열

변수 a의 문자열에서 0번째와 10번째 문자를 출력하세요.



```
a = 'The Cyber University of Korea'
```

In [ ]:
#문제 답안
a = 'The Cyber University of Korea'

집 주소가 다음과 같을 때 뒤에 3자리만 출력하세요.

address = "종로구 북촌로 106"

In [ ]:
# 문제 답안
address = "종로구 북촌로 106"

다음 전화번호에서 하이푼을 제거하고 출력하세요.

num = "010-1234-5678"

In [ ]:
## 문제 답안
num = "010-1234-5678"

# 리스트

슬라이싱을 활용해서 리스트의 앞 절반을 nums1 에다가 저장하고, 나머지 절반을 num2에 저장하시오.

```
nums = [3, 5, 7, 11, 16, 18, 32,64]

```
```

In [ ]:
##  문제 답안
nums = [3, 5, 7, 11, 16, 18, 32,64]

다음 리스트의 출력 결과를 예시와 같이 출력하세요.(join 메서드 활용)

```
rank = ['마케팅부', '경영관리부', '고객관리부', '생산부', '서비스부']
```

```
출력 예시 : 
마케팅부/경영관리부/고객관리부/생산부/서비스부

In [ ]:
## 문제 답안
rank = ['마케팅부', '경영관리부', '고객관리부', '생산부', '서비스부']

# 반복문

다음 리스트에서 for문을 사용해서 문자의 첫글자를 대문자로 출력해보세요.

```
my_list = ["hello","world","hi","python"]
```

In [ ]:
# 문제 답안

my_list = ["hello","world","hi","python"]

range() 함수 이용하여 sample_list를 아래와 같이 출력하라.

```
sample_list = ["가", "나", "다", "라"]
```

```
가 나
나 다
다 라

[0] [1]
[1] [2]
[2] [3]
```

In [ ]:
## 문제 답안

sample_list = ["가", "나", "다", "라"]

# 함수

2개의 숫자를 파라미터로 전달받아
전달 받은 숫자를 덧셈(addition), 뺄샘(subtraction), 곱셈(multiplication), 나눗셈(division)하여 리턴하는 함수를 각각 작성하라.

단, 뺄셈, 나눗셈은 전달 인자의 순서대로 수행할 것,
예) subtraction(a,b)   ---> a-b
예) division(a,b)      ---> a/b

In [27]:
# 문제 답안

-1

하나의 리스트를 입력받아 홀수만 화면에 출력하는 print_even 함수를 정의하라.



```
print_even ([1, 3, 2, 10, 12, 11, 15])
1
3
11
15
```

In [ ]:
# 문제 답안

# 클래스

위에서 작성한 사칙 연산 함수를 메서드로 사용하는, Calc 클래스를 작성하라. 

단, 숫자 2개를 입력으로 받아 초기화하는 생성자를 포함하라.

In [ ]:
# 문제 답안